In [1]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
pd.set_option('display.max_rows', None)
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
clustered_old = pd.read_csv(f"./clustered_listings_dataset.csv")
clustered_old.head(10)

,listing_id,outdoor_cluster,indoor_bathroom_cluster,indoor_bedroom_cluster,indoor_dining_cluster,indoor_kitchen_cluster,indoor_living_cluster,indoor_other_cluster,rex_url
0,24,1,-1,-1,-1,-1,-1,-1,rex1-pacific-coast-hwy
1,74,2,-1,-1,-1,-1,-1,-1,175-sequoia-dr
2,240,2,3,-1,1,3,2,0,546-w-20th-st
3,257,2,-1,-1,-1,3,0,-1,840-e-green-st-unit-224
4,311,3,3,3,3,3,1,2,22-hidden-valley-rd
5,317,1,2,3,3,3,1,1,3815-charthouse-cir
6,326,2,0,3,2,3,1,2,10331-valley-spring-ln
7,383,1,2,2,0,0,1,-1,31373-pacific-coast-hwy
8,394,3,3,1,-1,1,3,2,7250-franklin-ave-unit-615
9,412,1,2,-1,3,1,3,-1,1711-camino-de-la-costa-unit-4

In [8]:
# rex_url = clustered_old['rex_url']

In [9]:
# clustered = clustered_old.drop(columns=['rex_url'])

In [10]:
# artificial_listing_id = range(len(clustered))
# clustered['artificial_listing_id'] = artificial_listing_id

In [16]:
indices = pd.Series(clustered.index, index=clustered['listing_id'])

In [22]:
def calculate_cosine_similarity(listingID, df=clustered_old):
    '''
    A method that returns the most similar listings to the current list

    Params:
        listingID -> int: artificial_listing_id of the dataset
        df -> pandas dataframe: the dataset containing the listing data

    Return:
        The listed homes with cosine similarity scores
    '''
    # index record
    idx = indices[listingID]
    # print(indices.shape)
    # print(idx)
    # print('again')

    # fill null values with 0
    df.fillna(0, inplace=True)
    
    # do not include artificial listing id as a feature
#     new = df.drop(columns=['artificial_listing_id'])
    new = df.drop(columns=['listing_id', 'rex_url'])
    # calculate the cosine similarity matrix
    similar = cosine_similarity(new.values)

    # put the correlation back into the original dataset
    df['correlation'] = similar[idx]
    # corr_similar = pd.DataFrame(df)

    # sort the rows by the correlation score
    result = df.sort_values(by='correlation', ascending=False)
    
    return result

In [28]:
recommended = calculate_cosine_similarity(240)
recommended.head(5)

,listing_id,outdoor_cluster,indoor_bathroom_cluster,indoor_bedroom_cluster,indoor_dining_cluster,indoor_kitchen_cluster,indoor_living_cluster,indoor_other_cluster,rex_url,correlation
2,240,2,3,-1,1,3,2,0,546-w-20th-st,1.000000
106,2916,2,3,-1,0,3,3,0,1336-zeus,0.968865
374,40294,2,2,-1,0,2,1,0,8541-cedar-st,0.958753
468,60448,3,3,-1,0,2,2,0,39322-longhorn-ct,0.944654
105,2879,1,2,0,0,2,2,0,3262-veteran-ave,0.942261

https://www.zillow.com/homedetails/546-W-20th-St-Los-Angeles-CA-90731/21311904_zpid/
https://www.zillow.com/homedetails/1336-Zeus-West-Covina-CA-91790/21564766_zpid/
https://www.zillow.com/homedetails/8541-Cedar-St-Bellflower-CA-90706/21172706_zpid/
https://www.zillow.com/homedetails/39322-Longhorn-Ct-Palmdale-CA-93551/20240382_zpid/
https://www.zillow.com/homedetails/3262-Veteran-Ave-Los-Angeles-CA-90034/20461290_zpid/

In [30]:
recommended2 = calculate_cosine_similarity(257)
recommended2.head(5)

,listing_id,outdoor_cluster,indoor_bathroom_cluster,indoor_bedroom_cluster,indoor_dining_cluster,indoor_kitchen_cluster,indoor_living_cluster,indoor_other_cluster,rex_url,correlation
3,257,2,-1,-1,-1,3,0,-1,840-e-green-st-unit-224,1.000000
487,65829,2,0,0,-1,3,0,-1,12251-shady-hollow-ln,0.942707
556,130994,3,-1,0,-1,3,1,-1,22100-burbank-blvd-unit-225c,0.933121
208,10221,2,0,0,-1,2,-1,0,6520-shirley-ave-unit-5,0.852951
75,2145,1,0,-1,0,2,-1,0,7411-oso-ave,0.835594

https://www.zillow.com/homedetails/840-E-Green-St-UNIT-224-Pasadena-CA-91101/71010798_zpid/
https://www.rexhomes.com/listing/12251-shady-hollow-ln
https://www.rexhomes.com/listing/22100-burbank-blvd-unit-225c
https://www.zillow.com/homedetails/6520-Shirley-Ave-UNIT-5-Los-Angeles-CA-91335/19924332_zpid/

In [33]:
recommended3 = calculate_cosine_similarity(412)
recommended3.head(5)

,listing_id,outdoor_cluster,indoor_bathroom_cluster,indoor_bedroom_cluster,indoor_dining_cluster,indoor_kitchen_cluster,indoor_living_cluster,indoor_other_cluster,rex_url,correlation
9,412,1,2,-1,3,1,3,-1,1711-camino-de-la-costa-unit-4,1.000000
150,4781,2,3,0,3,3,2,-1,9834-hoback-st,0.883780
315,27738,3,1,0,2,1,3,-1,900-n-michigan-ave,0.864466
225,12449,1,3,0,1,1,3,0,27403-coldwater-dr,0.857394
48,1198,1,3,0,2,1,1,-1,8707-falmouth-ave-unit-206,0.856962